:root {
    --drop-color: #bbd2ee;
    --contrast-grey: #222222;
    --hover-color: #33bbee;
    --selected-color: #2299dd;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}


p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

button {
    margin: 0 auto;
    display: inline-block;
    background-color: var(--contrast-grey);
    color: #eeeeff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 12px;
    cursor: pointer;

}

.melodypanel {
    display: grid;
    grid-template-columns: auto 20%;
}

#mainsheet {
  grid-column: 1;
  grid-row: 1;
  padding: 10px 0;

}

#droparea {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--contrast-grey);
    border-radius: 8px;
    grid-column: 1;
    grid-row: 2;
    padding: 0 0 0 80px;
    margin: 0 0 0 20px;
}

.chorddrop {
    height: 50px;
    width: 100px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 8px;
    background-color: var(--drop-color);
    cursor: pointer;
}
.chorddrop p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.chorddrop:hover {
    background-color: var(--hover-color);
}

.buttonpanel {
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    margin: 1.5em;
}


#draggarea {
    width: 800px;
    height: 800px;
    position: relative;
}

.keydisplay .vf-stavenote path {
    fill: transparent;
}

.svgarc {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.dragarc {
    cursor: pointer;
}

.dragarc text {
    font-size: 45px;
    fill: black;
}

.dragarc:hover {
    fill: var(--hover-color);
}

.currentChord:not(.hover){
    fill: var(--selected-color);
}
