:root {
    --wrong-chord: #ee3300;
    --right-chord: #33ee00;
    --drop-color: #bbd2ee;
    --contrast-grey: #222222;
    --hover-color: #33bbee;
    --selected-color: #2299dd;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
}


p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

button {
    margin: 0 auto;
    display: inline-block;
    background-color: var(--contrast-grey);
    color: #eeeeff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 12px;
    cursor: pointer;

}

#page {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

#titlediv {
}

.melodypanel {
}

#mainsheet {
    padding: 10px 0;
    width: 100%;
}

#mainsheet div {
    margin: 0;
    padding: 0;
}

#droparea {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    background-color: var(--contrast-grey);
    border-radius: 8px;
    padding: 8px 0 8px 110px;
    box-sizing: border-box;
    width: 100%;
}

#droparea_container {
    padding: 0 15px 0 18px;
    box-sizing: border-box;
    width: 100%;
}

.chorddrop {
    height: 50px;
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 8px;
    background-color: var(--drop-color);
    cursor: pointer;
}
.chorddrop p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.chorddrop:hover {
    background-color: var(--hover-color);
}

.wrongChord {
    background-color: var(--wrong-chord);
}

.rightChord {
    background-color: var(--right-chord);
}

#tools {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


#draggarea {
    /* position: relative; */
    flex-grow: 1;
    flex-shrink: 0;
}

#svgarea {
}

#overlaykeys {
    position: relative;
}

.keydisplay .vf-stavenote path {
    fill: transparent;
}

.svgarc {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.dragarc {
    cursor: pointer;
}

.dragarc text {
    font-size: 45px;
    fill: black;
}

.dragarc:hover {
    fill: var(--hover-color);
}

.currentChord:not(.hover){
    fill: var(--selected-color);
}

.buttonpanel {
    display: grid;
    flex-grow: 2;
    flex-shrink: 2;
    /* margin: 1.5em; */
}

.buttonpanel button {
    margin: 3px;
}

#playbtn {
    grid-row: 1;
    grid-column: 1;
}
#stopbtn {
    grid-row: 1;
    grid-column: 2;
}
#nextbtn {
    grid-row: 2;
    grid-column: 2;
}
#playbtn {
    grid-row: 1;
    grid-column: 1;
}
#checkbtn {
    grid-row: 3;
    grid-column: 1;
}
